@use "catppuccin";

$flavour: map-get(catppuccin.$palette, "frappe");

$rosewater: map-get($flavour, "rosewater");
$flamingo: map-get($flavour, "flamingo");
$pink: map-get($flavour, "pink");
$mauve: map-get($flavour, "mauve");
$red: map-get($flavour, "red");
$maroon: map-get($flavour, "maroon");
$peach: map-get($flavour, "peach");
$yellow: map-get($flavour, "yellow");
$green: map-get($flavour, "green");
$teal: map-get($flavour, "teal");
$sky: map-get($flavour, "sky");
$sapphire: map-get($flavour, "sapphire");
$blue: map-get($flavour, "blue");
$lavender: map-get($flavour, "lavender");
$text: map-get($flavour, "text");
$subtext1: map-get($flavour, "subtext1");
$subtext0: map-get($flavour, "subtext0");
$overlay2: map-get($flavour, "overlay2");
$overlay1: map-get($flavour, "overlay1");
$overlay0: map-get($flavour, "overlay0");
$surface2: map-get($flavour, "surface2");
$surface1: map-get($flavour, "surface1");
$surface0: map-get($flavour, "surface0");
$base: map-get($flavour, "base");
$mantle: map-get($flavour, "mantle");
$crust: map-get($flavour, "crust");
