name: Lint & Test

on:
  push:
    branches: [main]
  pull_request:

jobs:
  main:
    name: Lint and test
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v4

      - uses: nekowinston/setup-deno@v1

      - uses: swift-actions/setup-swift@v2
        with:
          swift-version: "5"

      - uses: actions/setup-node@v4
        with:
          node-version: "lts/*"

      - name: Check
        run: deno check **/*.ts

      - name: Lint
        run: deno lint --compact

      - name: Test
        run: deno test --doc

      - name: Test Deno dnt
        run: deno task build
        env:
          COMPILE_APPLE_COLOR_LIST: 1

      - name: Upload Built Palette Formats
        uses: actions/upload-artifact@v4
        with:
          name: "Catppuccin Palette Formats"
          path: dist/palettes
